/* Google Fonts 読み込み */


body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

/* 全体を囲うコンテナー */
.container {
  display: flex;

}

/* 時計の共通スタイル */
.clock {
  align-items: left;
  justify-content: left;
  line-height: 1.2;
  text-align: center;
}

/* 日付のスタイル */
.clock-date {
  font-size: 25px;
}

/* 時間のスタイル */
.clock-time {
    margin: 5px;
  font-size: 100px;
}

#messages {
    font-size: 25px;
    padding-left: 0;
}

.youtube > .container {
    padding-bottom: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button > .container {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 20vw;
  }
}

/*
video {
  background:#222;
  vertical-align: top;
  --width: 25vw;
  width: var(--width);
  height: calc(var(--width) * 0.5625);
}
*/

.record {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.container_frame{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.container_frame .videoframe {
  height: 450px;
  width: 800px;
  border: solid 3px #000000;
}

#print {
  display:flex;
  justify-content: right;
  padding-right: 250px;
}

.video {
  display: flex;
}

#local {
  justify-content: left;
}

.container_comment {
  text-align: center;
}

.comment {
  justify-content: center;
}

button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 2em; /* フォントサイズ */
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #e2e2e2; /* 背景色 */
  color: rgb(19, 19, 19); /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
  background-color: #6c6c6c; /* 背景色 */
}

.c-video__embed {
  filter:brightness(150%);
  filter:contrast(150%)
  border: solid 50px #ffffff
}