/* Google Fonts 読み込み */


body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* 全体を囲うコンテナー */
.container {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
}

/* 時計の共通スタイル */
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
}

/* 日付のスタイル */
.clock-date {
  font-size: 25px;
}

/* 時間のスタイル */
.clock-time {
    margin: 5px;
  font-size: 100px;
}

#messages {
    font-size: 25px;
    padding-left: 0;
}

.youtube > .container {
    padding-bottom: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button > .container {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 20vw;
  }
}

video {
  background:#222;
  vertical-align: top;
  --width: 25vw;
  width: var(--width);
  height: calc(var(--width) * 0.5625);
}

.recordpreview {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
