/* Google Fonts 読み込み */


body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
/*ページ遷移アニメーション*/
.wrap {
	animation: fadein 3s forwards;
}

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}

/* 全体を囲うコンテナー */
.container {
  display: flex;

}

/* 時計の共通スタイル */
.clock {
  align-items: left;
  justify-content: left;
  line-height: 1.2;
  text-align: center;
}

/* 日付のスタイル */
.clock-date {
  font-size: 25px;
}

/* 時間のスタイル */
.clock-time {
    margin: 5px;
  font-size: 100px;
}

#messages {
    font-size: 25px;
    padding-left: 0;
}

.youtube > .container {
    padding-bottom: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button > .container {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 20vw;
  }
}

/*
video {
  background:#222;
  vertical-align: top;
  --width: 25vw;
  width: var(--width);
  height: calc(var(--width) * 0.5625);
}
*/

.record {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.container_frame{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 0px;
}



.container_frame .videoframe {
  height: 500px;
  width: 850px;
  border: solid 3px #000000;
}

#print {
  display:flex;
  justify-content: right;
  padding-right: 250px;
}

.video {
  display: flex;
}

#local {
  justify-content: left;
}

.container_comment {
  text-align: center;
}

.comment {
  justify-content: center;
}

/*ボタン*/
#container {
  display: flex;
  background-color: #242424;
  padding: 30px;
  border-radius: 10px;
}

button{
  border: none;
}

button {
  margin: 0;
/*フォントサイズ*/
  font-size: 1.6em;
/*フォントの太さ*/
  font-weight: 700;
/*行間の調節*/
  line-height: 0.75;
/*要素を配置する基準*/
  position: relative;
/*改行が入らず横に並ぶ*/
  display: inline-block;
/*要素の内側に領域を追加する*/
  padding: 1rem 4rem;
/*ホバー時カーソルをポインターにする*/
  cursor: pointer;
/*ユーザーが文章を範囲選択できるか*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
/*変化するときの秒数*/
  transition: all 0.5s;
/*水平方向の配置*/
  text-align: center;
/*水平方向の配置*/
  vertical-align: middle;
/*テキストのスタイルの指定*/
  text-decoration: none;
/*文字間隔の指定*/
  letter-spacing: 0.1em;
/*フォントのカラー*/
  color: #212529;
/*要素の外側の角の丸みを指定*/
  border-radius: 0;
  height: 60px;
}

.youtube {
  display: flex;
}

.c-video__embed {
  filter:brightness(150%);
  /*clip-path:inset(0 17% 0 17%);*/
  border: solid 50px #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.reply {
  background-color: black;
  margin-top: 100px;
}

.fake_button {
  display: flex;
}

.fake_reply {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.comment {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 0.75;
}

/*偽物ボタンstart*/
.fake_button_flex {
  margin-top: 70px;
  display: flex;
}

.fake_button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
/*送信ボタン*/
button.download {
  /*パディングボックスに合わせて切り取る*/
      overflow: hidden;
  /*要素の内側に領域を追加する*/
      padding: 1.5rem 6rem;
  /*フォントカラーの指定*/  
      color: #242424;
  /*角の丸みの指定*/
      border-radius: 10px;
  /*ボタンの色の指定*/
      background-color: #dadada;
      margin-top: auto;
      margin-bottom: auto;
    }
    
    button.download span {
  /*ポジションを相対的に動かす*/
      position: relative;
    }
  /*レイヤーの位置的な*/
  /*ちなみにこれは後ろの円*/
    button.download:before {
  /*ポジションを固定する*/
      position: absolute;
  /*ポジションがabsoluteの時の上からの距離*/
      top: 0;
  /*ポジションがabsoluteの時の左端からの距離*/
      left: 0;
  /*大きさの指定*/
      width: 100px;
      height: 100px;
    
      content: '';
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-transform: translateX(-80%) translateY(-25px);
      transform: translateX(-80%) translateY(-25px);
    
      background: #61a1b4;
    }
    
    button.download:hover::before{
      width: 400px;
      height: 400px;
    
      -webkit-transform: translateX(-1%) translateY(-175px);
    
      transform: translateX(-1%) translateY(-175px);
    }
    /*送信ボタンend*/
    
  /*録画ボタン*/
  /*ボタン本体のコード*/
  button.record {
    align-items: center;
    color: #fff;
    background-color: #ff4242;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  button.record {
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
  }
    /*録画ボタンend*/
  
    /*取得ボタン*/
  
  button.start {
    border-radius: 10px;
    color: #242424;
    background-color: #dadada;
    /*要素の内側に領域を追加する*/
    padding: 1.5rem 3rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  /*偽物ボタンend*/

  /*本物ボタンstart*/

/*送信ボタン*/
button#download {
/*パディングボックスに合わせて切り取る*/
    overflow: hidden;
/*要素の内側に領域を追加する*/
    padding: 1.5rem 6rem;
/*フォントカラーの指定*/  
    color: #242424;
/*角の丸みの指定*/
    border-radius: 10px;
/*ボタンの色の指定*/
    background-color: #000000;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  button#download span {
/*ポジションを相対的に動かす*/
    position: relative;
  }
/*レイヤーの位置的な
/*ちなみにこれは後ろの円
  button#download:before {
/*ポジションを固定する
    position: absolute;
/*ポジションがabsoluteの時の上からの距離
    top: 0;
/*ポジションがabsoluteの時の左端からの距離
    left: 0;
/*大きさの指定
    width: 100px;
    height: 100px;
  
    content: '';
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(-80%) translateY(-25px);
    transform: translateX(-80%) translateY(-25px);
  
    background: #61a1b4;
  }
  */
  
  button#download:hover::before{
    width: 400px;
    height: 400px;
  
    -webkit-transform: translateX(-1%) translateY(-175px);
  
    transform: translateX(-1%) translateY(-175px);
  }
  /*送信ボタンend*/
  
/*録画ボタン*/
/*ボタン本体のコード*/
button#record {
  align-items: center;
  color: #fff;
  background-color: #000000;
  margin-left: 50px;
  margin-right: 50px;
}

button#record {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}
  /*録画ボタンend*/

  /*取得ボタン*/

button#start {
  border-radius: 10px;
  color: #242424;
  background-color: #000000;
  /*要素の内側に領域を追加する*/
  padding: 1.5rem 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

/*フェイクボタン終了*/
